@page
@model MyApp.Namespace.CrudModel
@{
}
<h4>Product Maintenance</h4>
<p>ButtonPressed=<span>@Model.ButtonPressed</span></p>

@if(!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red; font-weight: bold;">@Model.ErrorMessage</p>
}

@if(!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <p style="color:green; font-weight: bold;">@Model.SuccessMessage</p>
}

<form method="post">
    @if(Model.Product.ProductId == 0 )
    {
        <button type="submit" formaction="/Crud" name="buttonPressed" value="Add">Add</button>
        <button type="submit" disabled>Update</button>
        <button type="submit" disabled>Delete</button>
    }
    else
    {
        <button type="submit" disabled>Add</button>
        <button type="submit" formaction="/Crud" name="buttonPressed" value="Update">Update</button>
        <button type="submit" onclick="return confirm('Are you sure you want to delete this');" 
            formaction="/Crud" name="buttonPressed" value="CrudDelete">Delete</button>
    }
    <input type="hidden" name="partialProductName" value="@Model.PartialProductName">
    <input type="hidden" name="selectedCategoryId" value="@Model.SelectedCategoryId">
    <button type="submit" formaction="/Crud" title="Back to Query Page" name="buttonPressed" value="CrudCancel">Cancel</button>

@{
    if(Model.Product != null)
    {
        <label>Product Id
        <input type="number" readonly name="productId" value="@Model.Product.ProductId" />
        </label>
        <label>ProductName
            <input type="text"  name="productName" value="@Model.Product.ProductName" />
        </label>
        @* <label><i>SupplierId</i>
            <input type="number" name="supplierId" value="@Model.Product.SupplierId" />
        </label> *@
        <div>
        <i>Suppliers</i>
        <select name="supplierId">
            <option value="0">select ...</option>
            @foreach (var item in Model.SelectListOfSuppliers)
            {
                    if (Model.Product.SupplierId == item.SupplierId)
                    {
                        <option value="@item.SupplierId" selected>@item.CompanyName</option>
                    }
                    else
                    {
                        <option value="@item.SupplierId">@item.CompanyName</option>
                    }
            }
        </select>  
        </div>
        @* <label><i>CategoryId</i>
            <input type="number" name="categoryId" value="@Model.Product.CategoryId" />
        </label> *@
        <div>
        <i>Categories</i>
        <select name="categoryId">
            <option value="0">select ...</option>
            @foreach (var item in Model.SelectListOfCatagories)
            {
                    if (Model.Product.CategoryId == item.CategoryId)
                    {
                        <option value="@item.CategoryId" selected>@item.CategoryName</option>
                    }
                    else
                    {
                        <option value="@item.CategoryId">@item.CategoryName</option>
                    }
            }
        </select>  
        </div>
        <label>QuantityPerUnit
            <input type="text" name="quantityPerUnit" value="@Model.Product.QuantityPerUnit" />
        </label>
        <label>MinimumOrderQuantity
            <input type="number" name="minimumOrderQuantity" value="@Model.Product.MinimumOrderQuantity" />
        </label>
        <label>UnitPrice
            <input type="number" name="unitPrice" value="@Model.Product.UnitPrice" />
        </label>
        <label>UnitsOnOrder
            <input type="number" name="unitsOnOrder" value="@Model.Product.UnitsOnOrder" />
        </label>
        <label>Discontinued
            <input type="checkbox" name="discontinued" checked="@Model.Product.Discontinued" />
        </label>
    }
}
</form>