@page
@model MyApp.Namespace.QueryModel
@{
}

<style type="text/css">
body {
    padding: 5px;
}
.table_box {
    margin: 1cm;
    padding: 5px;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid black;
}
.color_page {
    background: #ccf;
}

.box div, .box ul {
    float: right;
}
</style>

<script type="text/javascript" src="~/js/paginator.js"></script>


<h5>Query Page</h5>

@if(!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red; font-weight: bold;">@Model.ErrorMessage</p>
}

@if(!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <p style="color:green; font-weight: bold;">@Model.SuccessMessage</p>
}

<form method="post">
    <div class="row mb-3">
        <label for="PartialProductName" class="col-sm-1 col-form-label">Product</label>
        <div class="col-sm-2">
            <input type="search" class="form-control" placeholder="Partial Name/ID" 
                id="PartialProductName" 
                name="partialProductName" value="@Model.PartialProductName">
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary" formaction="/Query" 
                name="buttonPressed" value="SearchByPartialProductName">Search</button>
        </div>
        <div class="col-sm-1"></div>
        <label for="SelectedCategoryId" class="col-sm-1 col-form-label">Category</label>
        <div class="col-sm-2">
            <select class="form-control" id="SelectedCategoryId" name="selectedCategoryId">
                <option value="0">select ...</option>
                @foreach (var item in Model.SelectListOfCatagories)
                {
                        if (Model.SelectedCategoryId == item.CategoryId)
                        {
                            <option value="@item.CategoryId" selected>@item.CategoryName</option>
                        }
                        else
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                }
            </select>
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary" formaction="/Query" 
                name="buttonPressed" value="SearchByCategory">Search</button>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" formaction="/Crud" 
                name="buttonPressed" value="AddNewProduct">New Product</button>
        </div>  

    </div>
    
    @if(Model.SearchedProducts != null)
    {
        <div id="table_box_native">
        <table class="table table-hover">
        <thead>
            <tr>
                <th>Action</th>
                <th>ProductName</th>
                <th>Category</th>
                <th>QuantityPerUnit</th>
                <th>UnitPrice</th>
                <th>Discontinued</th>
                
            </tr>
        </thead>
        @if(Model.SearchedProducts.Count == 0)
        {
            <tr><td colspan="6"><i>There are no Products available.</i></td></tr>
        }
        @foreach(var item in Model.SearchedProducts)
        {
            <tr>
                <td><button type="submit" class="btn btn-primary" 
                    name="productId" formaction="/Crud" value="@item.ProductId">Edit</button></td>
                <td>@item.ProductName</td>
                <td>
                    <select disabled>
                        <option value="0">select ...</option>
                        @foreach (var element in Model.SelectListOfCatagories)
                        {
                                if (item.CategoryId == element.CategoryId)
                                {
                                    <option value="@element.CategoryId" selected>@element.CategoryName</option>
                                }
                                else
                                {
                                    <option value="@element.CategoryId">@element.CategoryName</option>
                                }
                        }
                    </select>  
                </td>
                <td>@item.QuantityPerUnit</td>
                <td>@item.UnitPrice</td>
                <td><input type="checkbox" disabled checked="@item.Discontinued"></input></td>
            </tr>
        }
        </table>
        </div>
        <div id="index_native" class="box"></div>
    }
</form>

<script type="text/javascript">
window.addEventListener("load", function () 
    {
        @* create_sample_table(document.getElementById("table_box_native")); *@
        paginator({
            table: document.getElementById("table_box_native").getElementsByTagName("table")[0],
            box: document.getElementById("index_native"),
            active_class: "color_page"
        });
    }, 
    false);
</script>
    
    



