@page
@model MyApp.Namespace.QueryModel
@{
}
<h5>Query Page</h5>
<p>ButtonPressed=<span>@Model.ButtonPressed</span></p>

@if(!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red; font-weight: bold;">@Model.ErrorMessage</p>
}

@if(!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <p style="color:green; font-weight: bold;">@Model.SuccessMessage</p>
}

<form method="post">
    <div>
        <i>Partial Product Name</i>
        <input type="search" placeholder="Partial Name/ID" id="PartialProductName" 
            name="partialProductName" value="@Model.PartialProductName">
        <button type="submit" formaction="/Query" 
            name="buttonPressed" value="SearchByPartialProductName">Search</button>
        <span>The Partial Product Name search string is @Model.PartialProductName</span>
    </div>
    <div>
        <i>Categoies</i>
        <select name="selectedCategoryId">
            <option value="0">select ...</option>
            @foreach (var item in Model.SelectListOfCatagories)
            {
                    if (Model.SelectedCategoryId == item.CategoryId)
                    {
                        <option value="@item.CategoryId" selected>@item.CategoryName</option>
                    }
                    else
                    {
                        <option value="@item.CategoryId">@item.CategoryName</option>
                    }
            }
        </select>  
        <button type="submit" formaction="/Query" name="buttonPressed" value="SearchByCategory">Search</button>
        <span>The selected Category Id is @Model.SelectedCategoryId</span>
    </div>
    <button type="submit" formaction="/Crud" name="buttonPressed" value="AddNewProduct">Add New Product</button>
    @if(Model.SearchedProducts != null)
    {
        <table class="table table-hover">
        <thead>
            <tr>
                <th>Action</th>
                <th>ProductName</th>
                <th>Category</th>
                <th>QuantityPerUnit</th>
                <th>UnitPrice</th>
                <th>Discontinued</th>
                
            </tr>
        </thead>
        @if(Model.SearchedProducts.Count == 0)
        {
            <tr><td colspan="6"><i>There are no Products available.</i></td></tr>
        }
        @foreach(var item in Model.SearchedProducts)
        {
            <tr>
                <td><button type="submit" name="productId" formaction="/Crud" value="@item.ProductId">Edit</button></td>
                <td>@item.ProductName</td>
                <td>
                    <select disabled>
                        <option value="0">select ...</option>
                        @foreach (var element in Model.SelectListOfCatagories)
                        {
                                if (item.CategoryId == element.CategoryId)
                                {
                                    <option value="@element.CategoryId" selected>@element.CategoryName</option>
                                }
                                else
                                {
                                    <option value="@element.CategoryId">@element.CategoryName</option>
                                }
                        }
                    </select>  
                </td>
                <td>@item.QuantityPerUnit</td>
                <td>@item.UnitPrice</td>
                <td><input type="checkbox" disabled checked="@item.Discontinued"></input></td>
            </tr>
        }
        </table>
    }
</form>
    
    



